// Themes

html[data-theme='light'] {
  --primary-color: #{$color__white};
  --secondary-color: #{$color__black};
  --tertiary-color: #{$color__gray};
  --primary-accent-color: #{$color__purple};
  --secondary-accent-color: #{$color__orange};
}

html[data-theme='dark'] {
  --primary-color: #{$color__black};
  --secondary-color: #{$color__white};
  --tertiary-color: #{$color__brown};
  --primary-accent-color: #{$color__orange};
  --secondary-accent-color: #{$color__purple};
}