// Typography
.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.primary-accent-color {
  color: var(--primary-accent-color);
}

.secondary-accent-color {
  color: var(--secondary-accent-color);
}

// Additional styles

