// Variables for colors
$color__red: #FF0000;
$color__green: #00FF00;
$color__blue: #0000FF;
$color__yellow: #ECAE42;
$color__orange: #ecae42;
$color__purple: #686EE0;
$color__pink: #FFC0CB;
$color__brown: #1D1617;
$color__gray: #808080;
$color__black: #1d1617;
$color__white: #E7E7E7;

// Variables for spacing
$spacing--5: 0.3125rem;
$spacing--11: 0.6875rem;
$spacing--22: 1.375rem;
$spacing--33: 2.0625rem;
$spacing--44: 2.75rem;
$spacing--55: 3.4375rem;
$spacing--66: 4.125rem;
$spacing--77: 4.8125rem;
$spacing--88: 5.5rem;
$spacing--99: 6.1875rem;