$ease-OutCubic: cubic-bezier(0.215,0.610,0.355,1.000);

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $spacing--33;
  gap: $spacing--11;
  background-color: inherit;
  color: inherit;

  &__content {
    flex: 1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100px;
    left: -1px;
    top: 90%;
    z-index: 1;
    opacity: 0;
    background: linear-gradient(180deg, var(--primary-color) 20%, var(--primary-accent-color) 50%, var(--primary-color) 80%);
    transition: top .8s $ease-OutCubic, opacity .4s linear;
    will-change: transform,opacity;
  }

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100px;
    right: -1px;
    top: 80%;
    z-index: 1;
    opacity: 0;
    background: linear-gradient(180deg, var(--primary-color) 20%, var(--primary-accent-color) 50%, var(--primary-color) 80%);
    transition: top .8s $ease-OutCubic, opacity .4s linear;
    will-change: transform,opacity;
  }

    &:hover::before{
        top: 10%;
        opacity: 1;
    }
    &:hover::after {
        top: calc(100% - 100px);
        opacity: 1;
    }
}