.home {
  margin: 0 auto;
  max-width: 1920px;
  color: var(--secondary-color);
  padding: 0 22px;
  &__header {
    overflow: hidden;
    height: 90vh;

    &-text {
      align-self: center;
      > * {
        padding-left: $spacing--44;
      }
    }

    &-scroll {
      text-align: center;
      align-self: flex-end;
    }

    &__icon {
      font-size: $spacing--44;
    }

    &-button {
      width: 400px;
      height: 30px;
      font-weight: bold;
      font-size: 1.1rem;
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__intro {
    &--pc {
      width: 80%;
      margin: 0 auto;
      display: flex;
    }
    &--mobile {
      display: none;
    }
  }

  &__info {
    //padding: 0 $spacing--99;
    margin-top: $spacing--44;
    //margin-top: $spacing--66;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: center;
    width: 100%;
  }

  &__join {
      overflow: hidden;
      margin-top: $spacing--44;
      display: flex;
      position: relative;
      left: 0;
      width: 100%;
      height: 300px;
      z-index: 1;

      &-title {
        display: flex;
        gap: $spacing--22;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        transform: scale(2);
        transition: all 1s ease;
        & > div {
          display: flex;
          gap: $spacing--11;
          animation: scrollText 33s infinite linear;
        }
      }

    div:hover > * {
      color: var(--primary-accent-color);
    }


    @keyframes scrollText {
      from   { transform: translateX(0%); }
      to { transform: translateX(-50%); }
    }
  }
}


.orange {
  color: var(--primary-accent-color);
}


// for mobile
@media (max-width: 768px) {
  .home {
    &__header {
      &-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      &-button {
        width: 300px;
      }
      &-text {
        > * {
          padding-left: 0;
        }
      }
      &-img {
        display: none;
      }
    }

    &__advantages {
      margin-top: $spacing--22;
    }


    &__intro {
      text-align: center;

      &-tiles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacing--22;
      }

      &-tile {
        max-width: 300px;
        width: fit-content;
        height: fit-content;
        background-color: var(--tertiary-color);
        border-radius: 10px;
        position: relative;
        align-items: center;
        text-align: center;
      }
    }
  }
}

// for mobile
@media (max-width: 768px) {
  .home {
    &__intro--pc {
      display: none;
    }
    &__intro--mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $spacing--22;
    }
  }
}