.admin-dashboard{
  &__tiles {
    display: flex;
    gap: $spacing--11;
    flex-wrap: wrap;
  }

  &__tile {
    width: fit-content;
    height: fit-content;
    background-color: $color__white;
    color: $color__black;
  }
}