.navbar {
  padding: $spacing--11 $spacing--22;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color__white;

  &__content {
    list-style: none;
    display: flex;
    align-items: center;
    gap: $spacing--11;
  }
}