.navbar {
  padding: $spacing--11 $spacing--22;
  display: flex;
  align-items: center;
  color: $color__white;

  &__content {
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: $spacing--33;
  }
}