$ease-OutCubic: cubic-bezier(0.215,0.610,0.355,1.000);

.blog-tile {
  position: relative;
  display: grid;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 350px;
  @media (max-width: 400px) {
    min-width: 200px;
  }

  &__image {
    display: inline-block;
    border-radius: 10px;
    max-height: 30rem;
    overflow: hidden;
    img {
      transition: transform linear;
      transition-duration: 0.5s;
    }
  }

  &__content {
    margin: $spacing--22 0;
  }

  &__title {
    text-align: center;
  }

  &__description {
    margin-top: $spacing--11;
  }

  &:hover,
  &:focus {
    .blog-tile {
      &__image {
        img {
          transform: scale(1.2);
          transition-duration: 1s;
        }
      }

        &__title {
            color: var(--primary-accent-color);
            text-decoration: underline;
        }
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100px;
    left: -1px;
    top: 90%;
    z-index: 1;
    opacity: 0;
    background: linear-gradient(180deg, var(--primary-color) 20%, var(--primary-accent-color) 50%, var(--primary-color) 80%);
    transition: top .8s $ease-OutCubic, opacity .4s linear;
    will-change: transform,opacity;
  }

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100px;
    right: -1px;
    top: 80%;
    z-index: 1;
    opacity: 0;
    background: linear-gradient(180deg, var(--primary-color) 20%, var(--primary-accent-color) 50%, var(--primary-color) 80%);
    transition: top .8s $ease-OutCubic, opacity .4s linear;
    will-change: transform,opacity;
  }

  &:hover::before{
    top: 10%;
    opacity: 1;
  }
  &:hover::after {
    top: calc(100% - 100px);
    opacity: 1;
  }
}


