.footer {
  position: absolute;
  width: 100%;
  height: 30vh;
  left: 0;
  z-index: 3;
  background-color: $color__white;
  padding: $spacing--55 $spacing--11;
  display: flex;
  justify-content: center;
  color: black;
  gap: $spacing--55;

  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing--22;
    margin: 0 $spacing--22;
  }

  &__links {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: fit-content;
    gap: $spacing--22;

    & > * {
      color: $color__gray;
    }
  }
}