//@forward "./utils/styles/_variables";
body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  height: 100vh;
  margin: 0 auto;
  background-color: $color__white;
}

.main {
  background-color: $color__black;
  border-bottom: 1px solid $color__black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.logo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.lang-switch {
  font-size: $spacing--22;
  color: $color__white;
  cursor: pointer;

    &:hover {
        color: $color__orange;
    }
}


// for mobile
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

