@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --columns: 4;
  @media (max-width: 800px) {
    --columns: 3;
  }
  @media (max-width: 600px) {
    --columns: 2;
  }
  @media (max-width: 500px) {
    --columns: 1;
  }
}

* {
  box-sizing: content-box !important;
}

#app {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}
/* Heading styles */
h1 {
  font-size: 3.125rem /* 34px */ !important;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.0625rem; /* -1px */
}

h2 {
  font-size: 1.875rem !important; /* 30px */
  font-weight: bold;
  line-height: 1.067; /* 32px */
  letter-spacing: -0.05rem; /* -0.8px */
}

h3 {
  font-size: 1.5rem !important; /* 24px */
  font-weight: bold;
  line-height: 1.083; /* 26px */
  letter-spacing: -0.0375rem; /* -0.5px */
}

h4 {
  font-size: 1.25rem !important; /* 20px */
  font-weight: bold;
  line-height: 1.1; /* 22px */
  letter-spacing: -0.025rem; /* -0.4px */
}

h5 {
  font-size: 1.125rem !important; /* 18px */
  font-weight: bold;
  line-height: 1.111; /* 20px */
  letter-spacing: -0.0125rem; /* -0.2px */
}

h6 {
  font-size: 1rem !important; /* 16px */
  font-weight: bold;
  line-height: 1.125; /* 18px */
  letter-spacing: -0.00625rem; /* -0.1px */
}

h3, h4, h5, h6 {
  margin: 0 !important;
}

h1 {
  font-size: 85px !important;
  margin: 53px 0 !important;
}

h2 {
  font-size: 43px !important;
  margin: 28px 0 !important;
}

h3 {
  font-size: 30px !important;
}

h4 {
  font-size: 20px !important;
}

h3, h4, h5, h6 {
  margin: 0 !important;
}

/*for mobile*/
@media (max-width: 768px) {
  h1 {
    font-size: 3.375rem !important;
  }
  h2 {
    font-size: 35px !important;
  }
  h3 {
    font-size: 25px !important;
  }
  h4 {
    font-size: 20px !important;
  }
}


