@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#app {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}
/* Heading styles */
h1 {
  font-size: 3.125rem; /* 34px */
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.0625rem; /* -1px */
}

h2 {
  font-size: 1.875rem; /* 30px */
  font-weight: bold;
  line-height: 1.067; /* 32px */
  letter-spacing: -0.05rem; /* -0.8px */
}

h3 {
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
  line-height: 1.083; /* 26px */
  letter-spacing: -0.0375rem; /* -0.5px */
}

h4 {
  font-size: 1.25rem; /* 20px */
  font-weight: bold;
  line-height: 1.1; /* 22px */
  letter-spacing: -0.025rem; /* -0.4px */
}

h5 {
  font-size: 1.125rem; /* 18px */
  font-weight: bold;
  line-height: 1.111; /* 20px */
  letter-spacing: -0.0125rem; /* -0.2px */
}

h6 {
  font-size: 1rem; /* 16px */
  font-weight: bold;
  line-height: 1.125; /* 18px */
  letter-spacing: -0.00625rem; /* -0.1px */
}

h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 85px;
}

h2 {
  font-size: 43px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h3, h4, h5, h6 {
  margin: 0;
}



