.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  gap: $spacing--5;
  color: $color__white;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color__orange;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  &:hover:not(.link--disableHover) {
    color: $color__orange;
    &:after {
      color: $color__orange;
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}