.link {
  width: fit-content;
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  gap: $spacing--5;
  color: var(--secondary-color);
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-accent-color);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  &:hover:not(.link--disableHover) {
    color: var(--primary-accent-color);
    &:after {
      color: var(--primary-accent-color);
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}